/* General */
h1, h2, h3 {
  color: blue;
}
h1, h2 {
  font-family: 'Georgia', serif;
  margin: 0;
}
h1 { border-bottom: 2px solid #eee; }
h2 { font-size: 1.2em; }
h4 {
  color: green;
  text-decoration: underline;
}
p { color: red;}

a {
  text-decoration: none;
  color: blue;
  font-size: 1.5em;
}
.sign_in {
  display: block;
  border-radius: 25px;
  border: 20px solid gray;
  padding: 25px;
  width: 250px;
  margin-left:auto;
  margin-right: auto;
}

.name {
  width: 50%;
  display: inline-block;
  float: left;
}

.flash {
  background: #cee5F5;
  color: red;
}
