{% extends "base.html" %}

{% block content %}
  <h1> Edit Graduate </h1>

<form action="{{url_for('editGraduate', university_id=university_id,graduate_id=graduate_id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{graduate.name }}'>
	<p>Company:</p>
		<input type ='text' size='30' name='company' placeholder = '{{graduate.company}}'>
	<p>Email:</p>
		<input type ='text' size='30' name='email' placeholder = '{{graduate.email}}'>
  <p>Major:</p>
  	<input type ='text' size='30' name='major' placeholder = '{{graduate.major}}'>
  <p>Graduated year:</p>
    <input type ='text' size='30' name='graduate_year' placeholder = '{{graduate.graduate_year}}'>





<input type='submit' value='Edit'>


<a href = '{{url_for('showGraduate',university_id=university_id)}}'> Cancel </a>


</form>
{% endblock %}
