{% extends "base.html" %}
{% block content %}

<h4>Add Graduate</h4>
<form action="{{url_for('newGraduate',university_id=university_id)}}" method = 'post'>

	<p>Name:</p>
		<input type ='text' size='30' name='name'>
  <p>Company:</p>
		<select name="company">
			<option value="Google" selected>Google</option>
			<option value="Facebook">Facebook</option>
			<option value="LinkedIn">LinkedIn</option>
			<option value="Amazon">Amazon</option>
			<option value="Other">Other</option>
		</select>
  	<!-- <input type ='text' size='30' name='company'> -->
	<p>Email:</p>
		<input type ='text' size='30' name='email'>
	<p>Major:</p>
		<input type ='text' size='30' name='major'>
  <p>Graduated year:</p>
  	<input type ='text' size='30' name='graduate_year'>

  	</br>
		</br>
		<button type="submit" class="btn btn-default" id="submit" type="submit">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Create
		</button>

</form>
</br>
<a href = '{{url_for('showGraduate',university_id=university_id)}}'>
	<button class="btn btn-default delete">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			Cancel
	</button>
</a>

{% endblock %}
