{% extends "base.html" %}

{% block content %}

<div class = 'pane'>

  <h1>University Lists</h1>
  <div class = 'flash'>
    {%with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li> <strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
<a href="{{url_for('newUniversity')}}" > <h4> Create a New University </h4> </a>
</div>

{% for university in universities %}
<div class='container'>
  <div class="panel panel-success">
    <div class='panel-heading'>
      <a href = "{{url_for('showGraduate', university_id = university.id)}}"> <h3>{{university.name}}</h3></a>
    </div>
    <div class="panel-body">
<a href = "{{url_for('editUniversity',university_id = university.id)}}">Edit</a>
</br>

<a href = "{{url_for('deleteUniversity',university_id = university.id)}}">Delete</a>
</div>
</div>

</div>
{% endfor %}

{% endblock %}
